<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World - Node.js</title>
    <script defer src="/bundle.js"></script>
  </head>
  <body>
    <div id="hello">Hello, World!!!</div>
  </body>
</html>
